<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-justify">
                    <h2 class="section-heading">About</h2>
                    <p class="text-muted">THE NCCB is the Northern
                    California Computational Biology student group for
                    PhD, masters, and undergraduate students based in
                    Northern California.</p>

                    <p class="text-muted">Students from five UC campuses
                    (Berkeley, Davis, Merced, Santa Cruz, and San Francisco),
                    plus Stanford University, produce a
                    one-day symposium including student talks, a
                    poster session, an industry discussion panel, 
                    and networking opportunities
                    encompassing all fields related to computational
                    biology.</p>

                    <p class="text-muted">We seek to facilitate knowledge sharing
                    in an open and safe environment, bringing together students and
                    post-docs in the computational biology community in the region to
                    promote collaboration and exchange. Our effort to provide an open and
                    welcoming community is outlined in a <a href="https://docs.google.com/document/d/1jCz3jxvh0N4KYzGBrpCqy5_70vCVpR_yNfOe81jEDiE/edit?usp=sharing">Code of Conduct</a> we abide by.

                    <p class="text-muted">The 2019 NCCB symposium will
                    be held on Saturday October 12, 2019 in Gladys Valley Hall at UC Davis.</p>
                </div>
            </div>

            <!--div class="row">
              <div class="col-lg-6 col-xs-12 col-centered">
                <a class="twitter-timeline"  href="https://twitter.com/hashtag/NCCB2018" data-widget-id="916743893487464448">#NCCB2018 Tweets</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </div>
            </div--!>

        </div>
    </section>
