<!-- Services Section -->
    <section id="faculty" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <h2 class="section-heading">Faculty Speaker</h2>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <img src="img/speakers/mattspitzer.jpg" class="img-responsive img-circle" alt="">
                    <h4 class="service-heading text-center">Matt Spitzer</h4>
                </div>
                <div class="col-sm-6 col-xs-12 faculty-speaker-bio">
                    <p class="text-muted text-justify"> Matt Spitzer is an Assistant
                    Professor of Microbiology and Immunology at UC San Francisco.
                    His research group focuses on developing our understanding of how
                    the immune system coordinates responses across an entire organism.
                    His work on tumor immunology combines experimental immunology and 
                    cancer biology with computation to understand how the immune system
                    responds to tumors, and to rationally initiate curative immune responses
                    against cancer.
                    Dr. Spitzer received his PhD in Immunology from Stanford University
                    with Dr. Gary Nolan and Dr. Edgar Engleman.
                    In 2016, Dr. Spitzer moved to UCSF as a UCSF Parker Fellow and
                    a Sandler Faculty Fellow.</p>
                    <p class="large text-muted text-justify"><strong>For his keynote
                    faculty lecture opening the NCCB conference,
                    Dr. Spitzer will discuss his research as well as
                    pass on some knowledge to young scientists.</strong></p>
                </div>
            </div>
        </div>
    </section>
