<!-- Services Section -->
    <section id="faculty" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <h2 class="section-heading">Faculty Speaker</h2>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <img src="img/speakers/mattspitzer.jpg" class="img-responsive img-circle" alt="">
                    <h4 class="service-heading text-center">TBA</h4>
                </div>
                <div class="col-sm-6 col-xs-12 faculty-speaker-bio">
                    <p class="text-muted text-justify">
                    </p>
                    <p class="large text-muted text-justify"><strong>The keynote
                    faculty lecture will open the NCCB conference.
                    </strong></p>
                </div>
            </div>
        </div>
    </section>
