<!-- Services Section -->
    <section id="faculty" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <h2 class="section-heading">Faculty Speaker</h2>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <img src="img/speakers/fereydoun.jpg" class="img-responsive img-circle" alt="">
                    <h4 class="service-heading text-center">Fereydoun Hormozdiari</h4>
                </div>
                <div class="col-sm-6 col-xs-12 faculty-speaker-bio">
                    <p class="text-muted text-justify">
                    Dr. Fereyoun Hormozdiari is an assistant professor at the
                    Department of Biochemistry and molecular medicine at UC-Davis.
                    He is also a member of MIND Institute and Genome Center at UC-Davis.
                    He got his Ph.D. in computer science at Simon Fraser University and
                    did his postdoctoral training in genomics at the University of Washington.
                    His research interests are developing methods for comprehensive discovery
                    of genomics structural variation and analysis of their impact
                    on disease and evolution. He has received awards including the
                    Canadian Governor General’s medal and Sloan Fellowship for his research.
                    </p>
                </div>
            </div>
        </div>
    </section>
