<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
      <h2 class="section-heading-center">Register to come by September 13th, 2019</h2>
      <h4 class= "section-heading-center">Abstract submission deadline: August 30th, 2019</h4>
     <!-- <h4 class="section-heading-center">You can still submit poster abstracts, but not talks</h4> -->
      <h4 class="section-heading-center">You must register to attend the conference, even if you don't present</h4>
      <h4 class="section-heading-center">(We need to count how much food to order)</h4>
        <div class="container">
            <div class="row">
                <!-- Row 1 Column 1 -->
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/register-preview.jpg"
                             class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Register Here ٩(｡•́‿•̀｡)۶</h4>
                        <p class="text-muted">Students and non-industry attendees</p>
                    </div>
                </div>

                <!-- Row 1 Column 2 -->
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/industry-preview.jpg"
                             class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Sponsors Register Here</h4>
                        <p class="text-muted">Sponsorship Levels and Registration</p>
                    </div>
                </div>

                <!-- Row 1 Column 3 -->
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://docs.google.com/viewer?url=https://docs.google.com/document/d/1wHC4rxj5vu7xkcbyfnO1xDBf1qbvs_qmq4lrFt7VrDU/export?format=pdf" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/sched-preview.png"
                             class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Symposium Schedule</h4>
                        <p class="text-muted">Talks, food, and networking</p>
                    </div>
                </div>

            <!-- Can't touch this, -->
            </div>
            <div class="row">
            <!-- Can't touch this, -->
            <!--            -MC Hammer 1990 -->

                <!-- Row 2 Column 1 -->
                <div class="col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/directions-preview.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Directions</h4>
                        <p class="text-muted">How to get to NCCB 2019</p>
                    </div>
                </div>

                <!-- Row 2 Column 2 -->
                <div class="col-sm-6 portfolio-item">
                    <a href="https://docs.google.com/viewer?url=https://docs.google.com/document/d/1lBwI1uzsM-xQ0kKGW89M51u4bPjYWLO8JJI317guIgU/export?format=pdf" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/abstract-book-preview.png"
                             class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Abstracts Book</h4>
                        <p class="text-muted">Poster, talk, and lightning talk abstracts</p>
                    </div>
                </div>

    <!-- Can't touch this, -->
            </div>
        </div>
    </section>
    <!-- Can't touch this, -->
    <!--            -MC Hammer 1990 -->
