<!-- Sponsor logo splash -->
<section id="sponsorlogos" class="bg-light-gray">
    <div class="container">
        <div class="intro-text">
            Generously supported by
        </div>
        <div class="row">
            <div>
                <img src="img/sponsors/nih.png">
            </div>
            <div>
                <img src="img/sponsors/ccb.png">
            </div>
            <div>
                <img src="img/sponsors/ucsf.png">
            </div>
            <div>
                <img src="img/sponsors/ucdgenome.png">
            </div>
            <div>
                <img src="img/sponsors/ucmerced.png">
            </div>
            <!--div>
                <img src="img/sponsors/thermofisher.png">
            </div-->
            <div>
                <img src="img/sponsors/biohub.png">
            </div>
            <div>
                <img src="img/sponsors/jgi.png">
            </div>
        </div>
    </div>
</section>
