<!-- Sponsor logo splash -->
<section id="sponsorlogos" class="bg-light-gray">
    <div class="container">
        <div class="intro-text">
            Generously supported by:
        </div>
        <div class="row">
            <div>
                <img src="img/sponsors/bids.png" />
            </div>
            <div>
                <img src="img/sponsors/genentech.png" />
            </div>
            <div>
                <img src="img/sponsors/ucsc_gi.png" />
            </div>
        </div>  
    </div>
</section>
