<!-- Sponsor logo splash -->
<section id="sponsorlogos" class="bg-light-gray">
    <div class="container">
        <div class="intro-text">
            Generously supported by
        </div>
        <div class="row">
            <div>
                <img src="img/sponsors/bids.png" />
            </div>
            <div>
                <img src="img/sponsors/genentech.png" />
            </div>
            <div>
                <img src="img/sponsors/ucsc_gi.png" />
            </div>
            <div>
                <img src="img/sponsors/qb3.png">
            </div>
            <div>
                <img src="img/sponsors/nih.png">
            </div>
            <div>
                <img src="img/sponsors/ccb.png">
            </div>
            <div>
                <img src="img/sponsors/10x.png">
            </div>
            <div>
                <img src="img/sponsors/guardant.png">
            </div>
            <div>
                <img src="img/sponsors/stanford_bmi.png">
            </div>
        </div>  
    </div>
</section>
